# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/

# MAC OS files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# VS code files
.vscode
**/.vscode

# CLion
.idea
CMakelist.txt

# cache
.cache
**/.cache

# bear
compile_commands.json
**/compile_commands.json

# Miscellaneous
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Program name
minishell

# Test files
in
infile
out
outfile
